#card {
  background-color: rgb(138, 155, 216);
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;

  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.input01 {
  border-radius: 50px;
  font-size: 1.8vw;
  padding-left: 10px;

  position: absolute;
  left: 40%;
  width: 50%;
  height: 10%;
}

.input02 {
  border-radius: 20px;
  font-size: 1.8vw;
  padding-left: 10px;

  position: absolute;
  left: 10%;
  width: 80%;
  height: 30%;
}

#name {
  top: 10%;
}

#mail {
  top: 25%;
}

#comment {
  top: 40%;
}

.label01 {
  position: absolute;
  left: 43%;
  width: 50%;
  height: 5%;
  font-size: 1.6vw;
}

#lbl_name {
  top: 12%;
}

#lbl_mail {
  top: 27%;
}
