#card {
  background-color: rgb(138, 155, 216);
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;

  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.input01 {
  border-radius: 50px;

  position: absolute;
  left: 40%;
  width: 50%;
  height: 10%;
}

.input02 {
  border-radius: 50px;

  position: absolute;
  left: 10%;
  width: 80%;
  height: 30%;
}

#name {
  top: 10%;
}

#mail {
  top: 25%;
}

#comment {
  top: 40%;
}
